<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IOKitPersonalities</key>
    <dict>
        <key>rndis_dk_horndis_data</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>CFBundleIdentifierKernel</key>
            <string>com.apple.iokit.IOSkywalkFamily</string>
            <key>IOClass</key>
            <string>IOUserNetworkEthernet</string>
            <key>IOMatchCategory</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>IOProviderClass</key>
            <string>IOUSBHostInterface</string>
            <key>IOProbeScore</key>
            <integer>100000</integer>
            <key>idVendor</key>
            <integer>1256</integer>
            <key>idProduct</key>
            <integer>26724</integer>
            <key>bConfigurationValue</key>
            <integer>1</integer>
            <key>bInterfaceNumber</key>
            <integer>1</integer>
            <key>IOUserClass</key>
            <string>rndis_dk</string>
            <key>IOUserServerName</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>bInterfaceClass</key>
            <integer>10</integer>
            <key>bInterfaceSubClass</key>
            <integer>0</integer>
            <key>bInterfaceProtocol</key>
            <integer>0</integer>
        </dict>
    </dict>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.iokit.IOSkywalkFamily</key>
        <string>1.0</string>
    </dict>
    <key>OSBundleUsageDescription</key>
    <string>USB RNDIS tethering driver extension.</string>
    <key>NSSystemExtensionUsageDescription</key>
    <string>USB RNDIS tethering driver extension.</string>
</dict>
</plist>
